{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "flow_run_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.flow_run_id),
    "state_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.state_id),
  },
}